{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/products.css') }}">
    
{% endblock %}

{% block body %}
        <h1>Products list</h1>
        <input type="text" id="search" placeholder="Search for products...">
        <ul id="products_list" class="products_list">

        </ul>
        <p id="error"></p>
    <div class="message">
        In this challenge, you need to use the API to create, update or delete products. You can use the
        <a href="https://documenter.getpostman.com/view/12623615/2s93CHuEys" target="_blank">API documentation</a> to help you.
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/products.js') }}"></script>
{% endblock %}